<!doctype html>
<html lang="ru">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">

  <link rel="apple-touch-icon" sizes="60x60" href="../static/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../static/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../static/favicons/favicon-16x16.png">
  <link rel="manifest" href="../static/favicons/site.webmanifest">
  <link rel="mask-icon" href="../static/favicons/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="../static/favicons/favicon.ico">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="../static/favicons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <title>Онлайн библиотека</title>
</head>
<body>
<div class="container">
  <nav aria-label="Page navigation example">
    <ul class="pagination mt-3">
      <li class="page-item {% if current_page == 1 %} disabled {% endif %}"><a class="page-link" href="../pages/index{{ current_page|e|int - 1}}.html">Previous</a></li>
      {% for page in range(1, pages + 1) %}
      <li class="page-item {% if page == current_page %} active {% endif %}"><a class="page-link" href="../pages/index{{ page|e|int }}.html">{{ page|e }}</a></li>
      {% endfor %}
      <li class="page-item {% if current_page == pages %} disabled {% endif %}"><a class="page-link" href="../pages/index{{ current_page|e|int + 1}}.html">Next</a></li>
    </ul>
  </nav>
  <div class="row">
    {% for line in books %}
    {% for book in line %}
    <div class="col">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="../static/images/{{ book.local_image|e }}" class="card-img" alt="{{ book.author|e }} - {{ book.header|e }}">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ book.header|e }}</h5>
              <p class="card-text">{{ book.author|e }}</p>
              {% for genre in book.genre %}
              <h6>{{ genre|e }} <span class="badge badge-secondary"></span></h6>
              {% endfor %}
              <p><a href="../static/books/{{ book.local_txt|e|urlencode }}" target="_blank" rel="noopener noreferrer">Читать</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    <div class="w-100"></div>
    {% endfor %}
  </div>
</div>

<script src="../static/js/jquery-3.5.1.slim.min.js"></script>
<script src="../static/js/bootstrap.bundle.min.js"></script>

</body>
</html>